

# =================
# Shell Functions
# =================
function parse_git_branch {
  git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/'
}

function proml {
  local        BLUE="\[\033[0;34m\]"
  local         RED="\[\033[0;31m\]"
  local   LIGHT_RED="\[\033[1;31m\]"
  local       GREEN="\[\033[0;32m\]"
  local LIGHT_GREEN="\[\033[1;32m\]"
  local       WHITE="\[\033[1;37m\]"
  local  LIGHT_GRAY="\[\033[0;37m\]"
  case $TERM in
    xterm*)
    TITLEBAR='\[\033]0;\u@\h:\w\007\]'
    ;;
    *)
    TITLEBAR=""
    ;;
  esac

PS1="${TITLEBAR}$GREEN\u@\h:\w$RED\$(parse_git_branch)$LIGHT_GRAY\$ "
PS2='> '
PS4='+ '
}

function updateDockerHost {
  BOOT2DOCKER_IP=$(docker-machine ip docker-vm 2>/dev/null)
  eval $(docker-machine env docker-vm 2>/dev/null)

  if [ "$BOOT2DOCKER_IP" != "" ] && ! grep -Fxq "$BOOT2DOCKER_IP docker" /etc/hosts; then
    echo "Creating boot2docker and docker hosts at /etc/hosts..."
    sudo sed -i '' '/[[:space:]]docker$/d' /etc/hosts
    sudo sed -i '' '/[[:space:]]boot2docker$/d' /etc/hosts
    sudo bash -c "echo '$BOOT2DOCKER_IP docker' >> /etc/hosts"
    sudo bash -c "echo '$BOOT2DOCKER_IP boot2docker' >> /etc/hosts"
  else
    echo "Cannot create boot2docker and docker hosts at /etc/hosts... BOOT2DOCKER_IP: $BOOT2DOCKER_IP"
  fi
}

function copyDotFileTo {
  cp ~/.bash_profile $1;

  for file in ~/.{path,exports,aliases,functions,extra};
    do [ -r "$file" ] && [ -f "$file" ] && cp "$file" $1;
  done;
  unset file;
}

